@import '../../styles/';

.step-node {
  .step-node {
    padding-left: $spacing * 5;
  }
  &__tree {
    height: $spacing * 10;
    padding: 0 $spacing * 5;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    &:hover {
      background: $grey;
    }
  }
  &__action {
    position: absolute;
    right: $spacing * 3;
    height: 100%;
    width: $spacing * 10;
  }
  &__children {
    transition: all 1s ease-in-out;
    overflow: hidden;
    &.oppened {
      height: auto;
    }
    &.collapsed {
      height: 0px;
    }
  }
}
