@import 'colors';

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    line-height: 1;
  }
  &:hover {
    background: darken($grey, 8%);
  }
  &:active {
    background: darken($grey, 12%);
  }
}
